# Ignore Python virtual environment
venv/
*.pyc
__pycache__/

# Ignore Terraform state and backup files
*.tfstate
*.tfstate.backup
*.lock.hcl

# Ignore temporary Ansible artifacts
*.retry

# Ignore Docker-related files
docker-compose.override.yml

# Ignore Dev Containers extension cache
.vscode/settings.json

# Ignore log files and temporary files
*.log
*.tmp

# Ignore IDE/Editor-specific settings
.idea/
*.code-workspace

# Ignore compiled files or temporary build files
*.class
*.o
*.out

# Ignore MacOS .DS_Store file
.DS_Store