
events {
    worker_connections 1024;  # Number of simultaneous connections per worker
}

http {
    upstream backend {
        server 147.228.173.185:80;
        server 147.228.173.178:80;
        server 147.228.173.184:80;
    }

    server {
        listen 80;

        location / {
            proxy_pass http://backend;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }
}
